<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tipassasin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AAC8DE891E1AB2E50055D1DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAC8DE9D1E1AB2E50055D1DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAC8DEA81E1AB2E50055D1DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
